* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 2vw auto;
  font-size: 3em;
}

body {
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
  background-attachment: fixed;
}

#white_box {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: white;
  border-radius: 5vw;
}

#image-container {
  height: 15vw;
  width: 30vw;
  margin: 2vw auto;
}

#text {
  height: auto;
  width: 30vw;
  margin: 2vw auto;
  text-align: justify;
}

.button {
  position: relative;
  left: 95%;
  bottom: 97%;
  cursor: pointer;
  background-color: green;
  border: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 75%;
}

img {
  border: 0px solid transparent;
  border-radius: 1vw;
  object-fit: cover;
  width: 30vw;
  height: 15vw;
}

h6 {
  font-size: 1.5em;
  margin-bottom: 0.4em;
}

.explanation {
  text-align: justify;
}

/* Rounded border */
hr.rounded {
  margin-top: 0px;
  border-top: 0.2em solid rgb(227, 227, 227);
  border-radius: 5px;
}
